<launch>

    <arg name="dataset"       default="gazebo"/>
    <arg name="config"        default="/home/yanwei/tmp_slamtec_ws/src/Ground-Fusion/config/$(arg dataset)/groundchallenge.yaml" />
    <arg name="output_prefix" default="/tmp/ground_fusion"/>

    <param name="/use_sim_time" value="true" />

    <node name="vins_node" pkg="vins" type="vins_node" output="screen" args="$(arg config)">
        <param name="output_path" value="$(arg output_prefix)"/>
    </node>

    <node pkg="vins" type="wheel_odometry_publisher.py" name="wheel_odometry_publisher" output="screen">
        <param name="enable_odom_to_base_tf" value="false"/>
        <!-- <param name="new_odom_topic"         value="/visual/odom"/> -->
        <!-- <param name="odom_topic"             value="/robot/odom"/> -->
    </node>

</launch>
